In [1]:
#write a python prog to print first n natural number and take n as user input
#write a ppt print first 10 even number
#first 10 odd number
n=int(input("any number: "))
for i in range(1,n+1):
    print(i)

any number:  8

1
2
3
4
5
6
7
8

In [2]:
n=int(input("any number: "))
for i in range(2,(n*2)+1,2):
      print(i)

any number:  8

2
4
6
8
10
12
14
16

In [4]:
#wpp to print first 10 even and odd number
n=int(input("enter any number: "))
for i in range(1,(2*n)+1):
    if i%2==0:
        print(i,"even number")
    else:
      print(i,"odd number")

enter any number:  20

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number
11 odd number
12 even number
13 odd number
14 even number
15 odd number
16 even number
17 odd number
18 even number
19 odd number
20 even number
21 odd number
22 even number
23 odd number
24 even number
25 odd number
26 even number
27 odd number
28 even number
29 odd number
30 even number
31 odd number
32 even number
33 odd number
34 even number
35 odd number
36 even number
37 odd number
38 even number
39 odd number
40 even number

In [45]:
#wapp to print sum of first n natural number
number=0
n=int(input("any number: "))
for i in range(1,n+1):
    number=number+i
print(number)

any number:  9

45

In [72]:
#wpp to print sum of first n even and odd number
n=int(input("any number: "))
sumeven==0
sumodd==0
for i in range(1,n+1):
    if i%2==0:    
        sumeven=sumeven+i
    else:        
        sumodd=sumodd+i
print(i,sumeven)
print(i,sumodd)

any number:  10

10 448
10 2391

In [9]:
#wpp to print count of even and odd no. between 1000 and 2000
even_count=0
odd_count=0
for i in range(1000,2001):
    if i%2==0:
        even_count =even_count+1
    else:
        odd_count =odd_count+1
print(odd_count)
print(even_count)

500
501

In [10]:
#wpp to print factorial of n number
n=int(input("any number: "))
factorial=1
for i in range(1,n+1):
    factorial=factorial*i
print(factorial)

any number:  8

40320

In [11]:
a=0
b=1
n=int(input("any number"))
print(a,b, end=" ")
for i in range(2,n):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

any number 7

0 1 1 2 3 5 8

In [13]:
#wpp to print nth element of fibonacci
a=0
b=1
n=int(input("any number: "))
for i in range(2,n):
    c=a+b
    a=b
    b=c
print(c)

any number:  8

13

In [75]:
#wwp to check wheather a number is prime or not
n=int(input("any number: "))
if n==0 or n==1:
    print(n, "not a prime")
elif n>1:
    for i in range(2,n):
        if n%i==0:
            print(
    else:
        print(n,"prime number")
else:
    print(n,"not a prime")

any number:  7

7 prime number

In [77]:
#wpp to print prime number between 10 and 20
start=10
end=20
for i in range(start,end+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end=" ")

11 13 17 19

In [2]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [15]:
n=4
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [69]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print("$",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

$ $ $ $ *
$ $ $ * *
$ $ * * *
$ * * * *
* * * * *

In [67]:
n=5
for i in range(n):
    for j in range(i):
        print("$",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
$ * * * *
$ $ * * *
$ $ $ * *
$ $ $ $ *